* {
    font-family: JetBrains Mono Nerd Font, FontAwesome;
    font-size: 14px;
    transition: background-color .3s ease-out;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(40, 40, 40, 1 );
    color: #fabd2f;
    font-family: 
        JetBrainsMono Nerd Font,
        JetBrains Mono Regular,
        SpaceMono Nerd Font,
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    background: rgba(40, 40, 40, 1);
    margin: 5px 10px;
    padding: 0 3px;
   /* border-radius: 15px;*/
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-weather,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#custom-weather:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgb(40, 40, 40);
}


/*#workspaces button {
  padding: 0 5px;
  background-color: transparent; 
  color: #ffffff;
  border-color: #ffffff;
}*/

#workspaces button {
    all: initial;
    min-width: 0;
    margin: 0px;
    /*border-radius: 15px;*/
    box-shadow: inset 0 -2px transparent;
    padding: 4px 8px;
    color: #d79921;
}

#workspaces button.focused {
    background: rgba(204, 36, 29, 0.5);
    color: #ebdbb2;
    box-shadow: inset 0 -2px rgb(204, 36, 29);

}

#workspaces button:hover {
    background: rgba(152, 151, 26, 0.5);
    color: #ebdbb2; 
    box-shadow: inset 0 -2px #98971a;
}

#window {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
} 

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}
#custom-arch:hover {
    color: #1793d1;
}

#custom-power {
    color: red;
}

#battery.warning {
  color: orange;
}
#battery.critical {
  color: red;
}
#battery.charging {
  color: lightgreen;
}

#battery.plugged {
  color: #8ec07c;
}
